includes:
	- phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - Api
        - Block
        - Console
        - Controller
        - Cron
        - Gateway
        - Helper
        - Logger
        - MessageQueue
        - Model
        - Observer
        - Setup
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Call to an undefined method Magento\\Framework\\App\\RequestInterface\:\:isPost\(\)#'
        - '#Call to an undefined method Magento\\Framework\\App\\RequestInterface\:\:getPost\(\)#'
        - '#Call to an undefined method Magento\\Framework\\App\\RequestInterface\:\:getPostValue\(\)#'
        - '#Call to an undefined method Magento\\Framework\\App\\RequestInterface\:\:isAjax\(\)#'