<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<activecampaign>
			<general>
				<enabled>0</enabled>
			</general>
			<export>
				<contact_enabled>0</contact_enabled>
				<customer_enabled>0</customer_enabled>
				<order_enabled>0</order_enabled>
				<abandoned_cart_enabled>0</abandoned_cart_enabled>
			</export>
		</activecampaign>
	</default>
</config>
