<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="CommerceLeague\ActiveCampaign\Api\Data\ContactInterface" type="CommerceLeague\ActiveCampaign\Model\Contact" />
	<preference for="CommerceLeague\ActiveCampaign\Api\Data\CustomerInterface" type="CommerceLeague\ActiveCampaign\Model\Customer" />
	<preference for="CommerceLeague\ActiveCampaign\Api\Data\OrderInterface" type="CommerceLeague\ActiveCampaign\Model\Order" />
	<preference for="CommerceLeague\ActiveCampaign\Api\ContactRepositoryInterface" type="CommerceLeague\ActiveCampaign\Model\ContactRepository" />
	<preference for="CommerceLeague\ActiveCampaign\Api\CustomerRepositoryInterface" type="CommerceLeague\ActiveCampaign\Model\CustomerRepository" />
	<preference for="CommerceLeague\ActiveCampaign\Api\OrderRepositoryInterface" type="CommerceLeague\ActiveCampaign\Model\OrderRepository" />
	<type name="CommerceLeague\ActiveCampaign\Logger\Handler">
		<arguments>
			<argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
		</arguments>
	</type>
	<type name="CommerceLeague\ActiveCampaign\Logger\Logger">
		<arguments>
			<argument name="name" xsi:type="string">activeCampaign</argument>
			<argument name="handlers"  xsi:type="array">
				<item name="system" xsi:type="object">CommerceLeague\ActiveCampaign\Logger\Handler</item>
			</argument>
		</arguments>
	</type>
	<type name="CommerceLeague\ActiveCampaign\Model\ResourceModel\Contact\Grid\Collection">
		<arguments>
			<argument name="mainTable" xsi:type="string">activecampaign_contact</argument>
			<argument name="eventPrefix" xsi:type="string">activecampaign_contact_grid_collection</argument>
			<argument name="eventObject" xsi:type="string">activecampaign_contact_grid_collection</argument>
			<argument name="resourceModel" xsi:type="string">CommerceLeague\ActiveCampaign\Model\ResourceModel\Contact\Collection</argument>
		</arguments>
	</type>
	<type name="CommerceLeague\ActiveCampaign\Model\ResourceModel\Customer\Grid\Collection">
		<arguments>
			<argument name="mainTable" xsi:type="string">activecampaign_customer</argument>
			<argument name="eventPrefix" xsi:type="string">activecampaign_customer_grid_collection</argument>
			<argument name="eventObject" xsi:type="string">activecampaign_customer_grid_collection</argument>
			<argument name="resourceModel" xsi:type="string">CommerceLeague\ActiveCampaign\Model\ResourceModel\Customer\Collection</argument>
		</arguments>
	</type>
	<type name="CommerceLeague\ActiveCampaign\Model\ResourceModel\Order\Grid\Collection">
		<arguments>
			<argument name="mainTable" xsi:type="string">activecampaign_order</argument>
			<argument name="eventPrefix" xsi:type="string">activecampaign_order_grid_collection</argument>
			<argument name="eventObject" xsi:type="string">activecampaign_order_grid_collection</argument>
			<argument name="resourceModel" xsi:type="string">CommerceLeague\ActiveCampaign\Model\ResourceModel\Order\Collection</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="activecampaign_contact_listing_data_source" xsi:type="string">CommerceLeague\ActiveCampaign\Model\ResourceModel\Contact\Grid\Collection</item>
				<item name="activecampaign_customer_listing_data_source" xsi:type="string">CommerceLeague\ActiveCampaign\Model\ResourceModel\Customer\Grid\Collection</item>
				<item name="activecampaign_order_listing_data_source" xsi:type="string">CommerceLeague\ActiveCampaign\Model\ResourceModel\Order\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\Console\CommandListInterface">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="activecampaign_export_contact" xsi:type="object">CommerceLeague\ActiveCampaign\Console\Command\ExportContactCommand</item>
				<item name="activecampaign_export_customer" xsi:type="object">CommerceLeague\ActiveCampaign\Console\Command\ExportCustomerCommand</item>
			</argument>
		</arguments>
	</type>
</config>