<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="customer_save_after">
		<observer name="activecampaign_export_contact" instance="CommerceLeague\ActiveCampaign\Observer\Customer\ExportContactObserver" />
		<observer name="activecampaign_export_customer" instance="CommerceLeague\ActiveCampaign\Observer\Customer\ExportCustomerObserver" />
	</event>
	<event name="newsletter_subscriber_save_after">
		<observer name="activecampaign_export_contact" instance="CommerceLeague\ActiveCampaign\Observer\Newsletter\ExportContactObserver" />
	</event>
	<event name="sales_order_save_after">
		<observer name="activecampaign_export_order" instance="CommerceLeague\ActiveCampaign\Observer\Sales\ExportOrderObserver" />
	</event>
</config>