<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="customer_register_success">
		<observer name="activecampaign_export_contact" instance="CommerceLeague\ActiveCampaign\Observer\Customer\ExportContactObserver" />
		<observer name="activecampaign_export_customer" instance="CommerceLeague\ActiveCampaign\Observer\Customer\ExportCustomerObserver" />
	</event>
	<event name="newsletter_subscriber_save_after">
		<observer name="activecampaign_export_contact" instance="CommerceLeague\ActiveCampaign\Observer\Newsletter\ExportContactObserver" />
	</event>
	<event name="sales_order_save_after">
		<observer name="activecampaign_export_order" instance="CommerceLeague\ActiveCampaign\Observer\Sales\ExportOrderObserver" />
	</event>
	<event name="commmerceleague_activecampaign_export_contact_success">
		<observer name="activecampaign_assign_contact_to_list" instance="CommerceLeague\ActiveCampaign\Observer\Customer\AssignContactToListObserver"/>
	</event>
	<event name="commmerceleague_activecampaign_export_newsletter_subscriber_success">
		<observer name="activecampaign_assign_newsletter_subscriber_to_list" instance="CommerceLeague\ActiveCampaign\Observer\Newsletter\AssignNewsletterSubscriberToListObserver"/>
		<observer name="activecampaign_assign_tag_newsletter_subscriber" instance="CommerceLeague\ActiveCampaign\Observer\Newsletter\TagNewsletterSubscriberObserver"/>
	</event>
</config>