<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="activecampaign" translate="label" type="text" sortOrder="1200" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Active Campaign</label>
            <tab>general</tab>
            <resource>CommerceLeague_ActiveCampaign::activecampaign_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[<p><strong>Don't have an API user?</strong> <a href="https://www.activecampaign.com/free/" target="_blank">Get a free trial</a> or <a href="https://acresearch.activehosted.com/f/13" target="_blank">get a free developer sandbox account]]></comment>
                </field>
                <field id="api_url" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Api Url</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment><![CDATA[Should be in the form https://<your-account>.api-us1.com/]]></comment>
                </field>
                <field id="api_token" translate="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Api Token</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="connection_id" translate="label" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Connection Id</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="connect" translate="label" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Test Connection</label>
                    <frontend_model>\CommerceLeague\ActiveCampaign\Block\Adminhtml\System\Config\Connection</frontend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="export" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Export Settings</label>

                <field id="contact_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Contact Export</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="activecampaign/general/enabled">1</field>
                    </depends>
                </field>

                <field id="customer_enabled" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Customer Export</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="activecampaign/general/enabled">1</field>
                    </depends>
                </field>
                <field id="order_enabled" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Order Export</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="activecampaign/export/customer_enabled">1</field>
                    </depends>
                </field>
                <field id="abandoned_cart_enabled" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Abandoned Cart Export</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="activecampaign/export/customer_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="order_export" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Order Export Settings</label>
                <field id="filter_order_statuses" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Only Export Orders with these statuses</label>
                    <source_model>CommerceLeague\ActiveCampaign\Model\System\Config\Source\Status</source_model>
                    <comment>Only Export orders with selected statuses</comment>
                    <depends>
                        <field id="activecampaign/general/enabled">1</field>
                    </depends>
                </field>
                <field id="filter_date_from" type="date" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Start Date</label>
                    <frontend_model>\CommerceLeague\ActiveCampaign\Block\Adminhtml\System\Config\Date</frontend_model>
                    <comment>Do not export orders older than this date</comment>
                    <depends>
                        <field id="activecampaign/general/enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="customer_export" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Customer Export Settings</label>
                <field id="customer_list_id" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Assign Customers to this list</label>
                    <source_model>CommerceLeague\ActiveCampaign\Model\Source\ActiveCampaign\Lists</source_model>
                    <depends>
                        <field id="activecampaing/export/customer_enabled">1</field>
                    </depends>
                </field>
                <field id="allowed_group_id_list" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Customer groups to export</label>
                    <source_model>Magento\Customer\Model\Config\Source\Group</source_model>
                    <depends>
                        <field id="activecampaing/export/customer_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="newsletter_export" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Newsletter Export Settings</label>
                <field id="newsletter_subscribers_list" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Assign Newsletter subscribers to this list</label>
                    <source_model>CommerceLeague\ActiveCampaign\Model\Source\ActiveCampaign\Lists</source_model>
                    <depends>
                        <field id="activecampaing/export/contact_enabled">1</field>
                    </depends>
                </field>
                <field id="newsletter_subscribers_tags" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Tag Newsletter subscribers with these tags</label>
                    <source_model>CommerceLeague\ActiveCampaign\Model\Source\ActiveCampaign\Tags</source_model>
                    <depends>
                        <field id="activecampaing/export/contact_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="webhook" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Webhook Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="activecampaing/export/contact_enabled">1</field>
                    </depends>
                </field>
                <field id="token" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Webhook Token</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
